In [2]:
import pyspark

In [4]:
pyspark.__version__

'3.5.1'

In [3]:
pyspark.__file__

'/home/varmara/miniconda3/lib/python3.10/site-packages/pyspark/__init__.py'

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/04 09:55:42 WARN Utils: Your hostname, varmaranb resolves to a loopback address: 127.0.1.1; using 192.168.1.102 instead (on interface wlp0s20f3)
24/03/04 09:55:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 09:55:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-02-15 22:23:22--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.196.8
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.196.8|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-02-15 22:23:23 (114 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [7]:
!head taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"
5,"Staten Island","Arden Heights","Boro Zone"
6,"Staten Island","Arrochar/Fort Wadsworth","Boro Zone"
7,"Queens","Astoria","Boro Zone"
8,"Queens","Astoria Park","Boro Zone"
9,"Queens","Auburndale","Boro Zone"

In [8]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [9]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [13]:
df.write.parquet('zones', mode='overwrite')

In [14]:
!ls -lh

total 842M
-rw-rw-r-- 1 varmara varmara 8.3K Mar  2 22:18 03_test.ipynb
-rw-rw-r-- 1 varmara varmara  19K Mar  4 09:54 04_pyspark.ipynb
-rw-rw-r-- 1 varmara varmara  33K Jan 24 18:00 05_taxi_schema.ipynb
-rw-rw-r-- 1 varmara varmara 2.6K Jan 24 18:00 06_spark_sql_big_query.py
-rw-rw-r-- 1 varmara varmara 8.7K Jan 24 18:00 06_spark_sql.ipynb
-rw-rw-r-- 1 varmara varmara 2.5K Jan 24 18:00 06_spark_sql.py
-rw-rw-r-- 1 varmara varmara 7.6K Jan 24 18:00 07_groupby_join.ipynb
-rw-rw-r-- 1 varmara varmara  12K Jan 24 18:00 08_rdds.ipynb
-rw-rw-r-- 1 varmara varmara 4.3K Jan 24 18:00 09_spark_gcs.ipynb
-rw-rw-r-- 1 varmara varmara 3.0K Jan 24 18:00 cloud.md
-rwxrwxr-x 1 varmara varmara  544 Jan 24 18:00 download_data.sh
drwxr-xr-x 3 varmara varmara 4.0K Mar  2 22:20 fhvhv
-rw-r--r-- 1 varmara varmara 718M Jul 14  2022 fhvhv_tripdata_2021-01.csv
-rw-rw-r-- 1 varmara varmara 124M Jul 14  2022 fhvhv_tripdata_2021-01.csv.gz
-rw-rw-r-- 1 varmara varmara  62K Mar  2 22:19 head.csv
-rw-rw-r-- 1 varmara varmara    0 Mar  1 17:28 homework_5.md
-rw-rw-r-- 1 varmara varmara  17K Jan 24 18:00 homework.ipynb
-rw-rw-r-- 1 varmara varmara    0 Mar  1 17:28 README.md
-rw-rw-r-- 1 varmara varmara  13K Aug 17  2016 taxi+_zone_lookup.csv
-rw-rw-r-- 1 varmara varmara  234 Mar  2 15:50 test_pyspark.ipynb
drwxr-xr-x 2 varmara varmara 4.0K Mar  4 09:56 zones
drwxr-xr-x 2 varmara varmara 4.0K Mar  2 16:04 zones.parquet