In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types

import pandas as pd

In [5]:
%%capture
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

## Q1 Spark version

In [4]:
spark.version

'3.5.1'

In [8]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 14:13:07--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T141307Z&X-Amz-Expires=300&X-Amz-Signature=1412d4d6705338fb74224e43dbd5b379f973e8467ede1f0549b4ab1cc586a8bf&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 14:13:07--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T141307Z&X-Amz-Expires=300&X-Amz-Signature=1412d4d6705338fb74224e43dbd5b379f973e8467ede1f0549b4ab1cc586a8bf&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz.1’

fhv_tripdata_2019-1 100%[===================>]  18.48M  17.5MB/s    in 1.1s

2024-03-04 14:13:09 (17.5 MB/s) - ‘fhv_tripdata_2019-10.csv.gz.1’ saved [19375751/19375751]

In [12]:
!gunzip -f fhv_tripdata_2019-10.csv.gz

In [13]:
!ls -lh fhv_tripdata_2019-10.csv

-rw-rw-r-- 1 varmara varmara 115M Mar  4 14:11 fhv_tripdata_2019-10.csv

In [15]:
!head -n 1001 fhv_tripdata_2019-10.csv > head.csv

In [18]:
df_pandas = pd.read_csv('head.csv')

In [19]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [21]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [12]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True), 
    types.StructField('PUlocationID', types.IntegerType(), True), 
    types.StructField('DOlocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.DoubleType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [13]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

df = df.repartition(6)

df.write.parquet('data/pq/fhv/2019/10/', mode='overwrite')

In [14]:
df = spark.read.parquet('data/pq/fhv/2019/10/')

## Q2 FHV October 2019 partition size

In [15]:
%%capture
!ls -lh data/pq/fhv/2019/10

approximately 6Mb

## **Q3**: Count records on 15th of October

In [16]:
from pyspark.sql import functions as F

In [33]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [41]:
df.createOrReplaceTempView('fhv_2019_10')

In [42]:
spark.sql("""
SELECT
    COUNT(*)
FROM 
    fhv_2019_10
WHERE
    to_date(pickup_datetime) = '2019-10-15';
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

## **Q4**: Longest trip for each day

In [36]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [57]:
df \
    .withColumn('duration', df.dropOff_datetime.cast('long') - df.pickup_datetime.cast('long')) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .groupBy('pickup_date') \
        .max('duration') \
        .withColumn('max_duration_in_hours', F.round(F.col('max(duration)') / (60 * 60), 2)) \
    .orderBy('max_duration_in_hours', ascending=False) \
    .limit(5) \
    .show()

+-----------+-------------+---------------------+
|pickup_date|max(duration)|max_duration_in_hours|
+-----------+-------------+---------------------+
| 2019-10-28|   2272149000|             631152.5|
| 2019-10-11|   2272149000|             631152.5|
| 2019-10-31|    315620787|             87672.44|
| 2019-10-01|    252460901|             70128.03|
| 2019-10-17|     31658400|               8794.0|
+-----------+-------------+---------------------+

In [60]:
spark.sql("""
SELECT
    to_date(pickup_datetime) AS pickup_date,
    ROUND(MAX((CAST(dropOff_datetime AS LONG) - CAST(pickup_datetime AS LONG)) / 60 / 60), 2) AS duration
FROM 
    fhv_2019_10
GROUP BY
    1
ORDER BY
    2 DESC
LIMIT 10;
""").show()

+-----------+--------+
|pickup_date|duration|
+-----------+--------+
| 2019-10-28|631152.5|
| 2019-10-11|631152.5|
| 2019-10-31|87672.44|
| 2019-10-01|70128.03|
| 2019-10-17|  8794.0|
| 2019-10-26| 8785.17|
| 2019-10-30| 1464.53|
| 2019-10-25| 1057.83|
| 2019-10-02|  770.23|
| 2019-10-23|  746.62|
+-----------+--------+

## **Q5**: Spark UI port

4040

## **Q6**:  Least frequent pickup location zone

locations name lookup

In [7]:
df_zones = spark.read.parquet('zones')

In [8]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [17]:
df.columns

['dispatching_base_num',
 'pickup_datetime',
 'dropOff_datetime',
 'PUlocationID',
 'DOlocationID',
 'SR_Flag',
 'Affiliated_base_number']

In [10]:
df_zones.createOrReplaceTempView('zones')

In [74]:
spark.sql("""
SELECT
    PUlocationID,
    pul.Zone,
    COUNT(1)
FROM 
    fhv_2019_10 fhv LEFT JOIN zones pul ON fhv.PULocationID = pul.LocationID
                      LEFT JOIN zones dol ON fhv.DOLocationID = dol.LocationID
GROUP BY 
    PUlocationID,
          pul.Zone
ORDER BY
    3
LIMIT 5;
""").show()

+------------+--------------------+--------+
|PUlocationID|                Zone|count(1)|
+------------+--------------------+--------+
|           2|         Jamaica Bay|       1|
|         105|Governor's Island...|       2|
|         111| Green-Wood Cemetery|       5|
|          30|       Broad Channel|       8|
|         120|     Highbridge Park|      14|
+------------+--------------------+--------+