In [6]:
import pandas as pd

yellow = 'yellow_tripdata_2019-01.csv.gz'
green = 'green_tripdata_2019-01.csv.gz'
fhv = 'fhv_tripdata_2019-02.csv.gz'

# df = pd.read_csv(fhv, compression='gzip')

# print(df.keys())

schema_yellow = {
    'VendorID': pd.Int64Dtype(),
    'passenger_count': pd.Int64Dtype(),
    'trip_distance': float,
    'RatecodeID':pd.Int64Dtype(),
    'store_and_fwd_flag':str,
    'PULocationID':pd.Int64Dtype(),
    'DOLocationID':pd.Int64Dtype(),
    'payment_type': pd.Int64Dtype(),
    'fare_amount': float,
    'extra':float,
    'mta_tax':float,
    'tip_amount':float,
    'tolls_amount':float,
    'improvement_surcharge':float,
    'total_amount':float,
    'congestion_surcharge':float
}

schema_green = {
    'VendorID': pd.Int64Dtype(),
    'store_and_fwd_flag':str,
    'RatecodeID':pd.Int64Dtype(),
    'PULocationID':pd.Int64Dtype(),
    'DOLocationID':pd.Int64Dtype(),
    'passenger_count': pd.Int64Dtype(),
    'trip_distance': float,
    'fare_amount': float,
    'extra':float,
    'mta_tax':float,
    'tip_amount':float,
    'tolls_amount':float,
    'ehail_fee':float,
    'improvement_surcharge':float,
    'total_amount':float,
    'payment_type': pd.Int64Dtype(),
    'trip_type': pd.Int64Dtype(),
    'congestion_surcharge':float
}

schema_fhv = {
    'dispatching_base_num':str,
    'PUlocationID': pd.Int64Dtype(),
    'DOlocationID':pd.Int64Dtype(),
    'SR_Flag':str,
    'Affiliated_base_number':str
}

In [7]:
df = pd.read_csv(fhv, 
                 compression='gzip',
                 dtype=schema_fhv)
df.keys()

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')

In [ ]:

df.head(5)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,<NA>,<NA>,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,<NA>,<NA>,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,<NA>,<NA>,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,<NA>,<NA>,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,<NA>,<NA>,NaN,B00008

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1707649 entries, 0 to 1707648
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            Int64
 4   DOlocationID            Int64
 5   SR_Flag                 object
 6   Affiliated_base_number  object
dtypes: Int64(2), object(5)
memory usage: 94.5+ MB

In [9]:

print(df['PUlocationID'].unique())

<IntegerArray>
[264,  13, 161, 261, 100, 138, 163, 170, 237, 132,
 ...
 120,  38, 222, 139, 105, 204, 154,  30,  99, 111]
Length: 261, dtype: Int64